[project]
	description = Very spicy additions to the Java programming language.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/huangkang-chn
[access "refs/for/refs/*"]
	read = group user/huangkang-chn
	push = group user/huangkang-chn
	label-Code-Review = -2..+2 group user/huangkang-chn
	label-Verified = -1..+1 group user/huangkang-chn
	rebase = group user/huangkang-chn
	removeReviewer = group user/huangkang-chn
	submit = group user/huangkang-chn
[access "refs/heads/*"]
	read = group user/huangkang-chn
	create = group user/huangkang-chn
	push = +force group user/huangkang-chn
	pushMerge = group user/huangkang-chn
[access "refs/tags/*"]
	push = +force group user/huangkang-chn
	pushTag = group user/huangkang-chn
	pushSignedTag = group user/huangkang-chn
